In [1]:
import pandas as pd

In [ ]:
df = pd.read_json("plants.json",)
df

                                                    0
0                                                None
1   {'plant_id': 1, 'name': 'Venus flytrap', 'temp...
2   {'plant_id': 2, 'name': 'Corpse flower', 'temp...
3   {'plant_id': 3, 'name': 'Rafflesia arnoldii', ...
4   {'plant_id': 4, 'name': 'Black bat flower', 't...
..                                                ...
65                                               None
66                                               None
67                                               None
68                                               None
69                                               None

[70 rows x 1 columns]