In [4]:
import pandas as pd

In [8]:
df = pd.read_json("plants.json")
df.head()

,plant_id,name,temperature,origin_location,botanist,last_watered,soil_moisture,recording_taken,images,scientific_name
0,1,Venus flytrap,14.377395,"{'latitude': 43.74, 'longitude': -11.5098, 'ci...","{'name': 'Kenneth Buckridge', 'email': 'kennet...",2025-09-22T13:51:41.000Z,29.214005,2025-09-23T09:42:04.069Z,NaN,NaN
1,2,Corpse flower,14.061050,"{'latitude': 47.8428, 'longitude': -48.7087, '...","{'name': 'Ms. Diana King', 'email': 'ms..diana...",2025-09-22T14:58:34.000Z,33.845243,2025-09-23T09:42:05.697Z,NaN,NaN
2,3,Rafflesia arnoldii,16.078470,"{'latitude': -25.4878, 'longitude': -36.1349, ...","{'name': 'Eduardo Okuneva II', 'email': 'eduar...",2025-09-22T13:58:19.000Z,35.075470,2025-09-23T09:42:06.436Z,NaN,NaN
3,4,Black bat flower,16.341454,"{'latitude': 63.3661, 'longitude': 46.4049, 'c...","{'name': 'Wilson Welch', 'email': 'wilson.welc...",2025-09-22T14:56:07.000Z,35.718464,2025-09-23T09:42:06.894Z,NaN,NaN
4,5,Pitcher plant,17.032140,"{'latitude': 82.8917, 'longitude': 0.6279, 'ci...","{'name': 'Benny Block', 'email': 'benny.block@...",2025-09-22T13:57:08.000Z,33.613691,2025-09-23T09:42:07.737Z,"{'license': 451, 'license_name': 'CC0 1.0 Univ...",[Sarracenia catesbaei]

In [11]:
df['lat'] = df['origin_location'].apply(lambda x: x['latitude'])
df['long'] = df['origin_location'].apply(lambda x: x['longitude'])